.gallery {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 24px;
  margin: 0;
  padding: 0;
  justify-content: center;
}
.gallery-item {
  flex-basis: calc((100% - 2 * 24px) / 3);
}
.gallery-img {
  min-width: 360px;
  width: 100%;
  min-height: 200px;
  height: 100%;
  object-fit: cover;
  display: block;
}
